<!DOCTYPE html>
<html lang="en">
<head>
  <title>User Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>User Login</h2>
  <form action="">
    <div class="form-group">

      <label for="uname">Username</label>
      <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname">
    </div>

    <label for="pwd">Password</label>
    <div class="form-group">
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
    </div>

    <button type="submit" class="col-md-2 col-md-offset-5 btn btn-primary">Login</button>
  </form>
  <div class="row">
    <label class="col-md-5" ></label>
  </div>
  <div class="row">

    <label class="col-md-2 col-md-offset-5 text-center" >OR</label>
  </div>
  <div class="row">
  <button class="col-md-2  col-md-offset-5 btn btn-primary" onclick="window.location.href='register_user.html'">Create an account</button>
  </div>
</div>

</body>
</html>
