<!DOCTYPE html>
<html lang="en">
<head>
  <title>User Registration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>User Registration</h2>
  <form action="s">
    <div class="form-group">
      <label for="uname">Username</label>
      <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname">
    </div>
    <div class="form-group">
      <label for="fname">First Name</label>
      <input type="text" class="form-control" id="fname" placeholder="Enter first name" name="fname">
    </div>
    <div class="form-group">
      <label for="lname">Last Name</label>
      <input type="text" class="form-control" id="lname" placeholder="Enter last name" name="lname">
    </div>
    <div class="form-group">
      <label for="dob">D.O.B.</label>
      <input type="date" class="form-control" id="dob" placeholder="Enter D.O.B." name="dob">
    </div>
    <div class="form-group">
      <label for="phone">Phone number</label>
      <input type="number" class="form-control" id="phone" placeholder="Enter phone number" name="phone">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label for="addr1">Address line 1</label>
      <input type="text" class="form-control" id="text" placeholder="Enter address line 1" name="addr1">
    </div>
    <div class="form-group">
      <label for="addr2">Address line 2</label>
      <input type="text" class="form-control" id="addr2" placeholder="Enter address line 2" name="addr2">
    </div>
    <div class="form-group">
      <label for="pincode">Pincode</label>
      <input type="number" class="form-control" id="pincode" placeholder="Enter pincode" name="pincode">
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" placeholder="Enter city" name="city">
    </div>
    <div class="form-group">
      <label for="state">State</label>
      <input type="text" class="form-control" id="state" placeholder="Enter state" name="state">
    </div>
    <label for="pwd">Password</label>
    <div class="form-group">
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

</body>
</html>
