<html>
	<head>
		<script>
			function Hi(){
				//document.getElementById("complaints").innerHTML="Hi";
				/*var ajax_get = function(url, callback) {
					var xmlhttp = new XMLHttpRequest();
	        		xmlhttp.onreadystatechange = function() {
		            	if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
			                	console.log('responseText:' + xmlhttp.responseText);
			                try {
			                    var data = JSON.parse(xmlhttp.responseText);
			                } 
			                catch(err) {
			                    console.log(err.message + " in " + xmlhttp.responseText);
			                    return;
			                }
			                callback(data);
		            	}
	            	};
	            	xmlhttp.open("GET", url, true);
        			xmlhttp.send();
            	};
            	ajax_get('/get_complaints', function(data){
					document.getElementById('description').innerHTML = data['description'];
            		}
            	);*/

				var url = "/get_complaints";
				var obj = new XMLHttpRequest();
				obj.onreadystatechange = function(){
				if(obj.readyState == 4){
					var val = JSON.parse(obj.responseText);
				document.getElementById("complaints").innerHTML="Hi"+val[0].length;
					for(var i=0;i<val.length;i++){
					//tempval = val[i][0];
					document.getElementById("complaints").innerHTML+="<form action='/get_data' method='get'><tr><td>"+val[i][0]+"</td><td>"+val[i][1]+"</td><td>"+val[i][2]+"</td><td>"+val[i][3]+"</td><td>"+val[i][4]+"</td><td>"+"<input type='submit' value = 'HIII' id='HIII' name='HIII'/></td><td>"+val[i][5]+"</td><td>"+val[i][6]+"</td></tr></form>";					}
				}
			}
					
				
				
				//}
				//}
				obj.open("GET",url, true);
				obj.send();
				}
				function clickedtheplus(obj){
					document.getElementById("complaints").innerHTML+="<tr><td>HI</td></tr>";
				}

				function search_ajax(){
					var url="/api/search"
					var obj = new XMLHttpRequest();
					obj.onreadystatechange = function(){
						if(obj.readyState == 4){
							var val = JSON.parse(obj.responseText);
							document.getElementById("complaints").innerHTML = "";
							for(var i = 0; i < val.length; i++){
								document.getElementById("complaints").innerHTML += "Hi " + val[i][0] + " ";
							}
						}
					}
					url = url+"?q="+document.getElementById("Query").value;
					obj.open("GET", url, true);
					obj.send();
				}
		</script>
	</head>
	<body onload="Hi()">
		<h1>
				Welcome
				<form method="post" action="/logout">
				<button style="margin-left:16cm;" >
					Log Out
				</button>
				</form>
				<button style="margin-left:2cm;" onclick="window.location.href='lodge_complaint.html'"> 
					Lodge a complaint 
				</button>
				<button style="margin-left:2cm;" onclick="window.location.href='lodge_complaint.html'">
					View Complaint History
				</button>
		</h1>
		<div>
			SEARCH: <input style="width:20cm;" type = "text" id = "Query" name="Query"/>

			<input type = "submit" id = "button3" value = "Go!" onclick="search_ajax()" />
		</div>
		<!--<div id = "complaints" > </div>-->
		<table style = "margin-top:2cm;" id = "complaints" name="complaints"> 
			<tr>
				<th>Complaint ID</th>
				<th>Department</th>
				<th>Subject</th>
				<th>Text</th>
				<th>Time</th>
				<th>ReAsk</th>
				<th>Status</th>
				<th>Resolve Update</th>
			</tr>
		</table>
	</body>
</html>