<html>
	<head>
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
 		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script>
			function fetchFeed(){
				var url = "/get_complaints";
				var obj = new XMLHttpRequest();
				obj.onreadystatechange = function(){
				if(obj.readyState == 4){
					var val = JSON.parse(obj.responseText);
				document.getElementById("complaints").innerHTML=
							document.getElementById("complaints").innerHTML = "<tr><th>Complaint ID</th><th>Department</th><th>Subject</th><th>Text</th><th>Time</th><th>ReAsk</th><th>Status</th><th>Resolve Update</th></tr>";
					for(var i=0;i<val.length;i++){
					document.getElementById("complaints").innerHTML+="<tr><td>"+val[i][0]+"</td><td>"+val[i][1]+"</td><td>"+val[i][2]+"</td><td>"+val[i][3]+"</td><td>"+val[i][4]+"</td><td>"+"<form action='/reask' method='get'><button type='submit' value = '"+val[i][0]+"' id='c' name='c'>+</button></form></td><td>"+val[i][5]+"</td><td>"+val[i][6]+"</td></tr>";					}
				}
			}
				obj.open("GET",url, true);
				obj.send();
				}
				function myComplaintsFn(){
					var url = "/get_my_complaints";
					var obj = new XMLHttpRequest();
					obj.onreadystatechange = function(){
					if(obj.readyState == 4){
						var val = JSON.parse(obj.responseText);
					document.getElementById("complaints").innerHTML="<tr><th>Complaint ID</th><th>Department</th><th>Subject</th><th>Text</th><th>Time</th><th>Status</th><th>Resolve Update</th></tr>";
						for(var i=0;i<val.length;i++){
						document.getElementById("complaints").innerHTML+="<tr><td>"+val[i][0]+"</td><td>"+val[i][1]+"</td><td>"+val[i][2]+"</td><td>"+val[i][3]+"</td><td>"+val[i][4]+"</td><td>"+val[i][5]+"</td><td>"+val[i][6]+"</td></tr>";					}
				}
				}

				obj.open("GET",url, true);
				obj.send();
			}
				function search_ajax(){
					var url="/api/search"
					var obj = new XMLHttpRequest();
					obj.onreadystatechange = function(){
						if(obj.readyState == 4){
							var val = JSON.parse(obj.responseText);
							document.getElementById("complaints").innerHTML = "<tr><th>Complaint ID</th><th>Department</th><th>Subject</th><th>Text</th><th>Time</th><th>ReAsk</th><th>Status</th><th>Resolve Update</th></tr>";
							for(var i = 0; i < val.length; i++){
								//document.getElementById("complaints").innerHTML += "Hi " + val[i][0] + " ";
								document.getElementById("complaints").innerHTML+="<form action='/get_data' method='get'><tr><td>"+val[i][0]+"</td><td>"+val[i][1]+"</td><td>"+val[i][2]+"</td><td>"+val[i][3]+"</td><td>"+val[i][4]+"</td><td>"+"<input type='submit' value = 'HIII' id='HIII' name='HIII'/></td><td>"+val[i][5]+"</td><td>"+val[i][6]+"</td></tr></form>";
							}
						}
					}
					url = url+"?q="+document.getElementById("Query").value;
					obj.open("GET", url, true);
					obj.send();
				}
		</script>
	</head>
	<body onload="fetchFeed()">
		<div class="container">
			<h1 class="text-center">
				Welcome 		
			</h1>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
				<form method="post" action="/logout">
				<button style="margin-left:16cm;" class="btn btn-primary" >
					Log Out
				</button>
				</form>
				<form method="post" action="/lodge_complaint_page">

				<form method="post" action="/lodge">
				<button style="margin-left:2cm;" class="btn btn-primary"> 
					Lodge a complaint 
				</button>
			</form>
				
				</form>
				
				<form>
				<button style="margin-left:2cm;" onclick="window.location.href='lodge_complaint.html'" class="btn btn-primary">
					View Complaint History
				</button>
				<button style="margin-left:2cm;" onclick="fetchFeed()" class="btn btn-primary">
					View Feed
				</button>

				</form>

				
				
		<div class="input-group"">
			<div class="col-md-4">
						SEARCH: <input style="width:20cm;" type = "text" id = "Query" name="Query" class="form-control" placeholder="Start"/>
			<input type = "submit" id = "button1" value = "Go!" onclick="search_ajax()" class="btn btn-primary" placeholder="End"/>
						</div>

		</div>
		<table id="complaints" name ="complaints" class="table table-striped">
			
		</table>
			</div>
		</div>
	</div>
	</body>
</html>